/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
header {
  color: #fff;
  padding: 10px;
  background-color: #98a4af;
  display: flex;
  font-size: 2.4rem;
  font-weight: bold;
  justify-content: space-between;
}
.jumbotron {
  background: url(../img/home/home-mobile-jumbotron.png) no-repeat;
  height: 260px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 4.4rem;
  line-height: 5rem;
  font-weight: bold;
  color: #fff;
}
@media (min-width: 800px) {
  .jumbotron {
    background: url(../img/home/home-jumbotron.png) no-repeat;
    height: 600px;
  }
}
h3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #222222;
  margin: 15px 0;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 2.5% 10px;
}
.intro .intro-item {
  width: 98%;
}
.intro .intro-item img {
  max-width: 100%;
}
@media (min-width: 800px) {
  .intro .intro-item {
    width: 48%;
  }
}
.intro .intro-item .btn {
  border: 1px solid #222222;
  text-align: center;
  padding: 10px;
  margin: 15px 0 30px;
}
.projects h3,
.projects p {
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.projects img {
  max-width: 100%;
}
.projects .effect-container {
  position: relative;
}
.projects .rectangle {
  position: absolute;
  text-align: center;
  font-size: 2.8rem;
  padding: 25px 42px;
  bottom: -50px;
  left: 10px;
  background-color: #d8d8d8;
  text-transform: uppercase;
}
.projects p:first-of-type {
  margin-top: 70px;
}
.projects p:last-of-type {
  margin-top: 20px;
}
