@import "variables"; 
@import "reset"; 

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
    font-family: Roboto, Arial, sans-serif;    
    // not sure if that will def work.
    line-height: 2.4rem;
  }
}

.main {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  color: #fff;
  padding: 10px;
  background-color: #98a4af;
  font-size: 2.4rem;
  font-weight: bold;
  
  .container {
    max-width: 855px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.jumbotron {
  background: url(../img/home/home-mobile-jumbotron.png) no-repeat; 
  height: 260px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 4.4rem;
  line-height: 5rem;
  font-weight: bold;
  color: #fff;

  @media @desk {
    background: url(../img/home/home-jumbotron.png) no-repeat; 
    height: 600px;
    // removing flex
    display: block;
    
    .container {
      max-width: 855px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; 

      h2 {
        margin-bottom: 40px;
        font-size: 6.4rem;
        line-height: 7.5rem;
      }
    }
  }
}

h3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #222222;
  margin: 15px 0;

}

.intro {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 2.5% 10px;


  @media @desk {
    max-width: 855px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

  }
  
  .intro-item {
    width: 98%;
    
    @media @desk {
      width: 48%;

      h3 {
        // align-items instead?
        margin-top: 35px;
      }
      
      &:nth-child(2) {
        order: -2;
        margin-right: 3%;
        // display: flex;
        // flex-direction: column;
      }
      &:nth-child(1) {
        order: -1;
        margin-bottom: 75px;
      }

      &:nth-child(3) {
        margin-right: 3%;

      }

    }

    img {
      max-width: 100%;
      // not sure why margin doesnt work here.
      // padding: 0 2.5%;
      // margin-top: 30px;
    }

    .btn {
      border: 1px solid #222222;
      text-align: center;
      padding: 10px;
      margin: 15px 0 30px;

      @media @desk {
        display: inline-block;
      }
    }
  }
}

.projects {
  // margin: 0 2.5% 0;

  @media @desk {
    .container {
      max-width: 855px;
      margin: 0 auto;
    }
  }

  .project-item {
    margin-bottom: 35px;

    @media @desk {
      margin-bottom: 100px; 
    }
  }

  h3 {
    // potential mixin
    margin-bottom: 40px;
    margin-left: 2.5%;
    margin-right: 2.5%;

    @media @desk {
      margin-left: 0;
      margin-right: 0;
    }
  }

  p {
    margin-left: 2.5%;
    margin-right: 2.5%;

    @media @desk {
      max-width: 450px;
      margin: 0 auto;
    }
  }

  // repetitive
  img {
    max-width: 100%;
  }

  .effect-container {
    position: relative;    
  }

  .rectangle {
    position: absolute;
    text-align: center;
    font-size: 2.8rem;
    padding: 25px 42px;
    bottom: -50px;
    left: 10px; 
    background-color: #d8d8d8;
    text-transform: uppercase;
    // not sure if % the best thing here.
    // width: 90%;

    @media @desk {
      right: 0px;
      left: auto;

      // maybe could be done more elegantly.
      &.left-desktop {
        right: auto;
        left: 0px;
      }
    }
  }

  p:first-of-type {
    margin-top: 70px;
  }

  p:last-of-type {
    margin-top: 20px;  
  }
}

footer {
  background-color: #828282;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.6rem;
  
  .container {
    max-width: 855px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media @desk {
    padding-top: 40px;
  }
  
  .footer-item {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;

    @media @desk {
      width: 16.66%;

      &:nth-child(1) {
        margin-left: 0%;
        width: 35%;
      }

      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  .copyright {
    margin-left: 2.5%;
    margin-right: 2.5%;

    @media @desk {
      margin: 20px auto 0;
    }
  }
  
  h4 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    // margin collapsing i tink
    padding-top: 15px;
  }

  input[type=text] {
    font-size: 1.6rem;
    width: 100%;
    border-radius: 5px;
    color: #a3a3a3;
    padding: 10px 5px;
    margin: 10px 0;
  }

  .footer-item:last-of-type {
    margin-bottom: 20px;
  }

  .copyright {
    padding-bottom: 20px;
  }

}