@import "reset"; 
@import "variables"; 
@import "serv-page"; 

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  body {
    font-size: 1.6rem;
    font-family: Roboto, Arial, sans-serif;    
    // not sure if that will def work.
    line-height: 2.4rem;
  }
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(152, 164, 175, 0.95); 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  .container {
    max-width: 855px;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  h2 {
    margin-left: 10px;
    font-size: 2.4rem;
    font-weight: bold;
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 8%; /* 25% from the top */
  // width: 100%; /* 100% width */
  // prob a more elegant way to do that.
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */

  a {
    // margin-top: 20px;
    line-height: 8.5rem;
    font-weight: bold;
  }
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 4.8rem;
  color: #fff;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #222222;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  font-size: 60px;
  // cursor: pointer;

}

.main {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
}

header {
  padding: 15px;
  background-color: #98a4af;
  position: fixed;
  width: 100%;
  z-index: 1;
  // top: 0;
  border-bottom: 2px solid #989c9f;

  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 855px;
    margin: 0 auto;
    // max-width: 1700px;
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }
}

.jumbotron {
  background: url(../img/home/home-mobile-jumbotron.png) no-repeat; 
  height: 260px;
  display: flex;
  align-items: flex-end;
  padding: 0 15px;
  font-size: 4.4rem;
  line-height: 5rem;
  font-weight: bold;
  color: #fff;

  h2 {
    margin-bottom: 15px;
  }

  // @media @tablet {
  //   // background: url(../img/home/home-jumbotron.png) no-repeat; 
  //   background: url(../img/home/home-jumbotron.png) no-repeat center center; 
  //   background-size: cover;
  //   height: 600px;
  // }

  @media @desk {
    background: url(../img/home/home-jumbotron.png) no-repeat; 
    height: 600px;
    // removing flex
    display: block;
    
    .container {
      max-width: 855px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; 

      h2 {
        margin-bottom: 40px;
        font-size: 6.4rem;
        line-height: 7.5rem;
      }
    }
  }
}

h3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #222222;
  margin: 15px 0;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 2.5% 10px;

  @media @desk {
    max-width: 855px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

  }
  
  .intro-item {
    width: 98%;
    
    @media @desk {
      width: 48%;

      h3 {
        // align-items instead?
        margin-top: 35px;
      }
      
      &:nth-child(2) {
        order: -2;
        margin-right: 3%;
        // display: flex;
        // flex-direction: column;
      }
      &:nth-child(1) {
        order: -1;
        margin-bottom: 75px;
      }

      &:nth-child(3) {
        margin-right: 3%;
      }
    }

    img {
      max-width: 100%;
      // not sure why margin doesnt work here.
      // padding: 0 2.5%;
      // margin-top: 30px;
    }

    .btn {
      border: 1px solid #222222;
      text-align: center;
      padding: 10px 25px;
      margin: 15px 0 30px;
      cursor: pointer;

      @media @desk {
        display: inline-block;
      }
    }
  }
}

.projects {
  @media @desk {
    .container {
      max-width: 855px;
      margin: 0 auto;
    }
  }
  
  h3 {
    // potential mixin
    // margins on elements w/in projects cuz imgs should take up full width
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    @media @desk {
      margin-bottom: 40px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .project-item {
    margin-bottom: 35px;

    @media @desk {
      margin-bottom: 100px; 
    }
    p {
      margin-left: 2.5%;
      margin-right: 2.5%;
  
      @media @desk {
        max-width: 450px;
        margin: 0 auto;
      }
    }
  }

  // repetitive
  img {
    max-width: 100%;
  }

  .effect-container {
    position: relative;    
  }

  .rectangle {
    position: absolute;
    text-align: center;
    font-size: 2.8rem;
    padding: 25px 50px;
    bottom: -50px;
    left: 10px; 
    background-color: #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 3px;
    // not sure if % the best thing here.
    // width: 90%;

    @media @desk {
      right: 0px;
      bottom: -25px;
      left: auto;
      border: 1px solid #fff;

      // maybe could be done more elegantly.
      &.left-desktop {
        right: auto;
        left: 0px;
      }
    }
  }

  p:first-of-type {
    margin-top: 70px;
  }

  p:last-of-type {
    margin-top: 20px;  
  }
}

footer {
  background-color: #828282;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.6rem;
  
  .container {
    max-width: 855px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  @media @desk {
    padding-top: 40px;
  }
  
  .footer-item {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;

    @media @desk {
      width: 16.66%;

      &:nth-child(1) {
        margin-left: 0%;
        width: 35%;
      }

      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }

  .copyright {
    margin-left: 2.5%;
    margin-right: 2.5%;

    @media @desk {
      margin: 20px auto 0;
    }
  }
  
  h4 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.4rem;
    // margin collapsing i tink
    padding-top: 15px;
  }

  input[type=text] {
    font-size: 1.6rem;
    width: 100%;
    border-radius: 5px;
    color: #a3a3a3;
    padding: 10px 5px;
    margin: 10px 0;
  }

  .footer-item:last-of-type {
    margin-bottom: 20px;
  }

  .copyright {
    padding-bottom: 20px;
  }

}